##############################
## zig                      ##
##############################
[Zz][Ii][Gg][-][Oo][Uu][Tt]/
[Zz][Ii][Gg][-][Cc][Aa][Cc][Hh][Ee]/

##############################
## vscode                   ##
##############################
.[Vv][Ss][Cc][Oo][Dd][Ee]/

##############################
## testing purposes         ##
##############################
[Ee][Xx][Aa][Mm][Pp][Ll][Ee][Ss]/